:root {
  --active: #ffc014;
  --activeAlt: rgb(212, 152, 41);
  --light: #e9e9e9;
  --lightAlt: #7c7c7c;
  --dark: #252525;
  --darkAlt: #3f3f3f;
  --invis: rgba(63, 63, 63, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'fira sans', sans-serif;
}

body {
  background-color: var(--darkAlt);
  color: var(--light);
  overflow: hidden;
}

.cityName {
  text-align: center;
  font-size: 64px;
  margin-top: 50px;
  margin-bottom: 25px;
  color: var(--light);
}



.creditCreator,
.creditWeatherAPI {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--lightAlt);
  font-weight: bold;

}

a,
a:visited {
  font-weight: bold;
  text-decoration: none;
  color: var(--light);;
  background-color: transparent;
  border: none;
}

.carouselWrapper {
  position: relative;
  padding: 20px;

}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel {
  max-height: 500px;
  overflow-y: auto;
  position: relative;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.carouselWrapper::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, var(--darkAlt), var(--invis), var(--invis), var(--darkAlt));
  z-index: 1;
}

.hourlyWeatherCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  grid-column-gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.temperature {
  grid-row: 1 / span 2;
  font-size: 96px; /* Increase font size for temperature */
  color: var(--light);
  text-align: right;
}

.windSpeed, .humidity {
  font-size: 32px;
  color: var(--lightAlt);
  text-align: left;
}

.hour {
  font-size: 32px;
  color: var(--light);
  text-align: center;
  grid-column: 1 / span 2;
  text-shadow: 2px 2px 17px rgba(202, 202, 202, 0.25);

}

.currentHourCard .temperature {
  scroll-margin: 100px;
  scroll-snap-align: start;
}

.currentHourCard .temperature,  
.currentHourCard .hour  {
  color: var(--active);
  text-shadow: 2px 2px 17px rgba(255, 187, 0, 0.25);
}

.currentHourCard .windSpeed, 
.currentHourCard .humidity{
  color: var(--activeAlt);
  text-shadow: 2px 2px 17px rgba(255, 187, 0, 0.25);
}

.lineTop {
  margin-bottom: 25px;
  height: 5px;
  width: 80%;
  background-color: #ffffff;
  margin: 0 auto;
}

.lineBottom {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 5px;
  width: 60%;
  background-color: #ffffff;
  margin: 0 auto;
}


.hourlyWeatherCard::after {
  content: "";
  background: linear-gradient(to right, var(--invis), var(--lightAlt), var(--invis));

  height: 5px;
  width: 60%;
  margin: 0 auto;
  grid-column: 1 / span 2;


}

.hourlyWeatherCard:last-child::after {
  content: "";
}